{% extends "layout.html" %}
{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" >
        <h1 class="display-3" >Bookmarks</h1>
        <p>Links to everything.</p>
        <p><a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        {% for uid,category in bookmarks_categories.iteritems() %}
        <div class="card m-1" style="width: 20rem;" id="{{uid}}" contenteditable="False">
          <div class="card-block">
            <h4 class="card-title">{{category.title}}<span class="editable">E</span></h4>
            <p class="card-text">{{category.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            {% for resource in category.resources %}
            <li class="list-group-item">
              <a href="{{resource.link}}" class="card-link" target="_blank">{{resource.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
{% endblock %}
