<!DOCTYPE html>

<html lang="en" class="gr__v4-alpha_getbootstrap_com"><head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Dashboard</title>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
    
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Fontawesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
  <style></style></head>

  <body data-gr-c-s-loaded="true">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}">Dashboard</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('bookmarks')}}">Bookmarks</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          {% if not session.access_token %}
            <li>
            <a onclick=" open_modal()" class="nav-link"><i class="fa fa-sign-in"></i>Login</a>  
            </li>
          {% else %}
            <li>
              <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
            </li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
    
    {% block body %}{% endblock %}

    

      <hr>

      <footer>
        <p>© Company 2018</p>
      </footer>
    </div> <!-- /container -->

    <div id="id01" class="modal">
  
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="close_modal()" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <br>
        <a class="btn btn-block btn-social btn-google" href="{{ url_for('google_login') }}">
          <span class="fa fa-google"></span> Sign in with Google
        </a>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="close_modal()" class="cancelbtn">Cancel</button>
      </div>
    </div>
    </div> <!-- /modal -->
    
    <script>
    function close_modal(){
      $('#id01').css('display','none');
    }
    
    function open_modal(){
      $('#id01').css('display','block')
    }
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            close_modal();
        }
    }
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Editable Script -->
    <script src="{{url_for('static',filename='js/editable.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>


</body></html>
